@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgb(31, 29, 29);
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(226, 226, 226);
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--black);
    overflow-x: hidden;
}

.container {
    width: 30vw;
    margin: auto;
    text-align: center;
    padding: 30px;
}

main > div > h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.objetivo-saldo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-top: 10px;
    padding-bottom: 10px;
}

.objetivo-atual, .saldo-atual {
    text-align: center;
}

.objetivo-atual > p, .saldo-atual > p, .restante > p {
    color: #19d351;
    font-weight: 600;
    font-size: 3rem;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.712);
}

.saldo-atual > p {
    color: #2e75cc;
}

.restante > p {
    color: rgb(211, 40, 40);
}

.progress {
    text-align: left;
    margin-top: 30px;
    font-weight: 600;
    font-size: 2rem;
}

.progress-bar {
    margin-top: 15px;
    background-color:white;
    height: 25px;
    position: relative;
    border: 1px solid var(--black);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.progress-bar > .div-bar {
    position: absolute;
    height: 100%;
    background-color: #0fd439;
    width: 80%;
}

.progress-percent {
    font-weight: 500;
    font-size: 3rem;
    margin-top: 15px;
    color: var(--black);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.712);
    text-align: right;
    margin-right: 40px;
}

.choose-objective > p {
    font-weight: 600;
}

.choose-objective > input {
    margin-top: 10px;
    border: 1px solid black;
    width: 50%;
    padding: 5px;
    outline: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.choose-objective > button {
    background-color: var(--black);
    color: white;
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    outline: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.transactions-addt > h3 {
    margin-top: 30px;
}

.choose-objective-info {
    margin-top: 15px;
    font-size: 1.2rem;
}

.separate-bar {
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.671);
    width: 100%;
    border-radius: 3px;
    margin-top: 5px;
}

.add-transaction > p {
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
}

.add-transaction > input {
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
    padding: 15px;
    outline: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.add-transaction > input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.add-button {
    padding: 10px 50px;
    background-color: var(--black);
    color: white;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.footer-repo {
    text-align: center;
}

.footer-repo a {
    color: #2e75cc;
    text-decoration: none;
}

.footer-repo a:hover {
    text-decoration: underline;
}

@media (max-width: 1300px)
{
    .container {
        width: 44vw;
    }
    .objetivo-saldo {
        flex-direction: column;
        align-items: center;
    }

    .objetivo-atual, .saldo-atual {
        text-align: center;
    }
}

@media (max-width: 930px)
{
    .container { 
        width: 61vw;
    }
}

@media (max-width: 630px)
{
    .container { 
        width: 91vw;
    }
}